<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<formvh:form.uploadedResource
			property="{element.identifier}"
			as="resource"
			id="{element.uniqueIdentifier}"
			class="{element.properties.elementClassAttribute}"
			errorClass="{element.properties.elementErrorClassAttribute}"
			additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
			accept="{element.properties.allowedMimeTypes}"
		>
			<f:if condition="{resource}">
				<div id="{element.uniqueIdentifier}-preview">
					{resource.originalResource.originalFile.name}
				</div>
			</f:if>
		</formvh:form.uploadedResource>
                    <div class="oeShowNameOfFile"></div>
	</f:render>
</formvh:renderRenderable>
</html>
