<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<formvh:form.uploadedResource
			property="{element.identifier}"
			as="image"
			id="{element.uniqueIdentifier}"
			class="{element.properties.elementClassAttribute}"
			errorClass="{element.properties.elementErrorClassAttribute}"
			additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
			accept="{element.properties.allowedMimeTypes}"
		>
			<f:if condition="{image}">
				<div id="{element.uniqueIdentifier}-preview">
					<a href="{f:uri.image(image: image, maxWidth: element.properties.imageLinkMaxWidth)}" class="{element.properties.elementClassAttribute}">
						<f:image image="{image}" maxWidth="{element.properties.imageMaxWidth}" maxHeight="{element.properties.imageMaxHeight}" alt="{formvh:translateElementProperty(element: element, property: 'altText')}" />
					</a>
				</div>
			</f:if>
		</formvh:form.uploadedResource>
                                <div class="oeShowNameOfFile"></div>

	</f:render>
</formvh:renderRenderable>
</html>
