<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{form}">
		<formvh:form
				object="{form}"
				action="{form.renderingOptions.controllerAction}"
				method="{form.renderingOptions.httpMethod}"
				id="{form.identifier}"
				section="{form.identifier}"
				enctype="{form.renderingOptions.httpEnctype}"
				addQueryString="{form.renderingOptions.addQueryString}"
				argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}"
				additionalParams="{form.renderingOptions.additionalParams}"
		>
			<f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
			<div class="actions">
				<f:render partial="Form/Navigation" arguments="{form: form}" />
			</div>
		</formvh:form>
</formvh:renderRenderable>
    <script>
        $("#{form.identifier}").validate({
            invalidHandler: function(e, validator) {
             console.log(validator)
            }
           });
        </script>
    
</html>
