<f:layout name="Mail" />



<f:section name="Content">
	<f:comment>
		Header
	</f:comment>
	<f:if condition="{data.header}">
		<tr>
			<td class="float-center" valign="top" style="text-align:left;font-family: courier, Courier New;">
				<f:render partial="Header" arguments="{_all}" />
			</td>
		</tr>
	</f:if>

	<f:comment>
		If images before text
	</f:comment>
	<f:if condition="{gallery.rows}">
		<f:if condition="{data.imageorient} == 0 || {data.imageorient} == 1 || {data.imageorient} == 2">
			<tr>
				<td class="float-center" valign="top" style="text-align:left;font-family: courier, Courier New;">
					<f:render section="ImageContainer" arguments="{_all}" />
				</td>
			</tr>
		</f:if>
	</f:if>
	<f:comment>
		Text and images beside text
	</f:comment>
	<f:if condition="{data.bodytext}">
		<tr>
			<td class="float-center" valign="top"  style="text-align:left;font-family: courier, Courier New;">
				<f:if condition="{gallery.rows}">
					<f:then>
						<f:if condition="{data.imageorient} == 17 || {data.imageorient} == 25 || {data.imageorient} == 18 || {data.imageorient} == 26">
							<f:then>
								<table>
									<tr>
                                                                                                                                                        
										<f:if condition="{data.imageorient} == 18 || {data.imageorient} == 26">
											<td width="{data.imagewidth}" style="padding-right: 20px;width: {data.imagewidth}px;"><f:render section="ImageContainer" arguments="{_all}" /></td>
										</f:if>

										<td width="" valign="top" style="text-align:left;font-family: courier, Courier New;">
											<f:render partial="Bodytext" arguments="{_all}" />                                                                                       
										</td>

										<f:if condition="{data.imageorient} == 17 || {data.imageorient} == 25">
											<td width="{data.imagewidth}" style="padding-left: 20px; width: {data.imagewidth}px;"><f:render section="ImageContainer" arguments="{_all}" /></td>
										</f:if>
									</tr>
								</table>
							</f:then>
							<f:else>
								<f:render partial="Bodytext" arguments="{_all}" />
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:render partial="Bodytext" arguments="{_all}" />
					</f:else>
				</f:if>
			</td>
		</tr>
	</f:if>

	<f:comment>
		If images after text
	</f:comment>
	<f:if condition="{gallery.rows}">
		<f:if condition="{data.imageorient} == 8 || {data.imageorient} == 9 || {data.imageorient} == 10">
			<tr>
				<td class="float-center" valign="top" style="text-align:left;font-family: courier, Courier New;">
					<f:render section="ImageContainer" arguments="{_all}" />
				</td>
			</tr>
		</f:if>
	</f:if>
</f:section>





<f:section name="ImageContainer">
	<f:for each="{gallery.rows}" as="row">
		<f:for each="{row.columns}" as="column">
			<f:if condition="{column.media} && {column.media.type} == 2">
				<f:alias map="{file:column.media,dimensions:column.dimensions}">
					<f:if condition="{file.link}">
						<f:then>
							<f:link.typolink parameter="{file.link}" title="{file.title}">
								<f:render section="Image" arguments="{_all}" />
							</f:link.typolink>
						</f:then>
						<f:else>
							<f:render section="Image" arguments="{_all}" />
						</f:else>
					</f:if>
					<f:if condition="{file.description}">
						<br>
						{file.description}
					</f:if>
				</f:alias>
			</f:if>
		</f:for>
	</f:for>
</f:section>




<f:section name="Image">
	<f:media class="image-embed-item" file="{file}" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" style="max-width:none;width:{dimensions.width}px;" />
</f:section>
