<f:layout name="Mail" />



<f:section name="Content">
	<f:comment>
		Header
	</f:comment>
	<f:if condition="{data.header}">
		<tr>
			<td class="float-center" valign="top" style="text-align:left;">
				<f:render partial="Header" arguments="{_all}" />
			</td>
		</tr>
	</f:if>

	<f:comment>
		Text
	</f:comment>
	<f:if condition="{data.bodytext}">
		<tr>
			<td class="float-center" valign="top" style="text-align:left;">
				<f:render partial="Bodytext" arguments="{_all}" />
			</td>
		</tr>
	</f:if>
</f:section>
