

<f:render partial="Toppart"  arguments="{_all}" />

<p>
    <strong>
        <f:format.raw>
            <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:form.email.messageWorkshop"/>                            
        </f:format.raw>
    </strong>                           
</p>

<f:render partial="Bottompart"  arguments="{_all}" />
