                                            <p>
                                                Iwanson<br/>
                                                HypoVereinsbank<br/>
                                                IBAN: DE05 700 202 70 1830 20 6333<br/>
                                                Swift: HYVEDEMMXXX<br/>
                                            </p>
                                            <p>
                                                <strong>
                                                    <f:format.raw>
                                                        <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:form.email.greetings"/>
                                                    </f:format.raw>
                                                </strong>                           

                                            </p>             

                                            <p><br/><hr></p>

                                            <p style="font-size:0.7em">

                                                <strong> <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:form.email.yourdata"/></strong>
                                            <table cellpadding="0" cellspacing="0" border="0" style="font-family: Courier, Courier New;" > 

                                                <formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
                                                    <tr>
                                                        <td valign="top" align="left"  style="font-size:0.7em; padding-right:20px; font-family: Courier, Courier New;">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</td>
                                                        <td valign="top" align="left"  style="font-size:0.7em; padding-right:20px; font-family: Courier, Courier New;">
                                                    <f:if condition="{formValue.value}">
                                                        <f:then>
                                                            <f:if condition="{formValue.isMultiValue}">
                                                                <f:then>
                                                                    <table cellspacing="0" border="0">
                                                                        <f:for each="{formValue.processedValue}" as="value">
                                                                            <tr>
                                                                                <td style="font-family: Courier, Courier New;">{value}</td>
                                                                            </tr>
                                                                        </f:for>
                                                                    </table>
                                                                </f:then>
                                                                <f:else>
                                                                    <table cellspacing="0" border="0" >
                                                                        <tr>
                                                                            <td style="font-family: Courier, Courier New;"><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
                                                                        </tr>
                                                                    </table>
                                                                </f:else>
                                                            </f:if>
                                                        </f:then>
                                                        <f:else>
                                                            -
                                                        </f:else>
                                                    </f:if>
                                                    </td>
                                                    </tr>
                                                </formvh:renderAllFormValues>
                                            </table>
                                            </p>
                                            <p><hr></p>
                                            <p style="font-size:0.7em">
                                        <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:form.email.gdpr"/>                            
                                        <br/><br/><br/>                     
                                        <a style="margin-left: 15%;padding: 5px 20px 5px 15px;color: #000;text-decoration: none;border-bottom: 4px solid #39ff14;border-left: 4px solid #39ff14;" href="mailto:schule@iwanson.de">schule@iwanson.de</a>.                   
                                        </p>
                                    </th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</center>
<br/><br/>
</td>
</tr>
</table>


</body>
</html>
