{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head style="background: #fff;">
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">

    <f:render partial="Mail/ZurbCss"/>

    <style>
        body,
        html,
        .body {
            background: #ffffff !important;
        }

        .container.header {
            background: #fff;
        }

        .body-drip {
            /* border-top: 8px solid #a5c85a; */
        }
    </style>


</head>
<body style="background: #fff;">

    <table class="body" data-made-with-foundation="" style="width:100%; font-family: Courier, Courier New; background: #fff;">
        <tr>
            <td class="float-center" align="center" valign="top">
                <center data-parsed="">
                    <table class="spacer float-center">
                        <tbody>
                            <tr>
                                <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" class="container header float-center" style="width:580px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row collapse">
                                        <tbody>
                                            <tr>
                                                <th class="small-12 large-12 columns first last">
                                                    <table>
                                                        <tr>
                                                            <th > <img src="https://iwanson.de/fileadmin/newsletter/logo_IWANSON_nl.png" alt="IWANSON logo" width="580" height="100" style="width:580px;height:100px;"> </th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" class="container body-drip float-center" width="580" style="width:580px;">
                        <tbody>
                            <tr>
                                <td>

                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <th class="small-12 large-12 columns first last">
                                                    <table>
                                                        <tr>
                                                            <th style="font-family: courier, Courier New; text-align:left;">