<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--
<f:comment>
	Used Zurb Foundation email template
	See https://foundation.zurb.com/emails/docs/css-guide.html

	Parsed content will be inserted into variable {content}
</f:comment>
-->
	<f:render partial="NewsletterItself" arguments="{_all}" />
