

html, body, p, table, div, span {
    font-family:"Courier";
}

h1 {
    font-size:100px;
    line-height:90px;
    font-weight:400;
    letter-spacing:0.1em;
}
h2, h3 {
    font-size:30px;
    line-height:36px;
    text-transform:uppercase;
    margin-bottom:12px;
    letter-spacing:0.15em;   
    font-weight: 600;    
}
.indent9 {
    padding-left:100px;
}
table tbody tr td {
    vertical-align:top;
    font-weight: bold;
    padding-right:4px;
}
.event {
    font-weight:bold;
    font-size:30px;
    line-height:36px; 
}
.citation {
   font-size:30px;
   line-height:36px;
   letter-spacing:0.15em;       
}
a.button {
    border-top: 3px solid #39ff14;
}
.nameList {
   font-size:30px;
   line-height:36px;
   letter-spacing:0.15em;       
   text-transform:uppercase;

}
/** justify **/
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}