/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2020, 4:53:07 PM
    Author     : oe
*/

body {margin: 0; padding: 0; min-width: 100%!important;}
.content {width: 100%; max-width: 600px;}  

/*.header {padding: 40px 30px 20px 30px;}*/

.subhead {font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 10px;}
.h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
.h1, .h2, .bodycopy {color: #153643; font-family: sans-serif;}

/* apple mail max-width fix 
@media only screen and (min-device-width: 601px) {
.content {width: 600px !important;}
.col425 {width: 425px!important;}
}*/