<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<tr>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0">
			<f:if condition="{gallery.rows}">
				<f:then>
					<f:if condition="{gallery.position.noWrap} != 1">
						<f:then>
							<tr>
								<td>
									<table class="image" width="100%" cellpadding="0" cellspacing="0"
										   style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
										<tr>
											<td class="img-full">
												<f:render partial="Media/Gallery" arguments="{_all}"/>
											<td>
										</tr>
									</table>
								</td>
							</tr>
						</f:then>
						<f:else>
							<f:if condition="{data.header}">
								<tr>
									<td style="{settings.stylesHeader}">
										{data.header}
									</td>
								</tr>
							</f:if>
							<f:if condition="{data.subheader}">
								<tr>
									<td style="{settings.stylesSubheader}">
										{data.subheader}
									</td>
								</tr>
							</f:if>
							<tr>
								<td>
									<f:comment>
											Bildausrichtung: Neben dem Text rechts
									</f:comment>
									<f:if condition="{data.imageorient} == 25">
										<f:render partial="ImageRight" arguments="{_all}"/>
									</f:if>
									<f:comment>
										Bildausrichtung: Neben dem Text links
									</f:comment>
									<f:if condition="{data.imageorient} == 26">
										<f:render partial="ImageLeft" arguments="{_all}"/>
									</f:if>
								</td>
							</tr>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{data.header}">
						<tr>
							<td style="{settings.stylesHeader}">
								{data.header}
							</td>
						</tr>
					</f:if>
					<f:if condition="{data.subheader}">
						<tr>
							<td style="{settings.stylesSubheader}">
								{data.subheader}
							</td>
						</tr>
					</f:if>
					<tr>
						<td>
							<table class="flexible" width="100%" cellpadding="0" cellspacing="0"
								   style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
								<tr>
									<td style="{settings.stylesBodytext}">
										<f:format.html>{data.bodytext}</f:format.html>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</f:else>
			</f:if>
		</table>
	</td>
</tr>
</html>
