{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<f:if condition="{data.space_before_class}">
    <div class="frame-space-before-{data.space_before_class}"></div>
</f:if>
<a name="c{data.uid}" id="c{data.uid}"></a>
<div class="oneContainer layout-{data.header_layout}" id="container{data.uid}" data-header="{data.header}">

    <f:comment>################ COLUMN ###############################</f:comment>
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
              <div class="contentRight">
        </f:then>
        <f:else>
              <div class="contentLeft">
        </f:else>
    </f:if>
    
    
    <f:if condition="{data.space_before_class}">
        <div class="frame-space-before-{data.space_before_class}"></div>
    </f:if>


        <div class="instructorBodytext guest">
            {data.bodytext -> f:format.html()}
        </div>                        
    <div class="clear"></div>

        <div class="contentColumn iwansonImage verybig instructor guest">


            <f:for each="{files}" as="oneImage" iteration="fooIterator">


                    <f:if condition ="{fooIterator.cycle} == 1">
                        <f:then>   
                            <div class="iwansonOneImage verybig first instructor guest  uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}">

                        </f:then>
                        <f:else>        

                            <f:if condition ="{fooIterator.cycle} == {files -> f:count()}">
                                <f:then>   
                                    <div class="iwansonOneImage verybig last instructor guest  uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}">

                                </f:then>
                                <f:else>        
                                    <div class="iwansonOneImage verybig instructor guest uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}">
                                </f:else>    
                            </f:if>

                        </f:else>    
                    </f:if>
                    
                    

                    <picture>
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'360',cropVariant:'default')}" >
                        <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'200',cropVariant:'tablet')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'180',cropVariant:'mobile')}">

                        <img class="iwansonImage verybig instructor guest" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}" title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
                    </picture>
                    </div>
                            <div class="instructorDescriptionHolder uidnr{data.uid} instructornr{fooIterator.cycle}">
                                <f:format.raw>{oneImage.properties.iwansonsstuffimagetext}</f:format.raw>
                            </div>
            </f:for>
        </div>

        <div class="clear"></div>
        <div class="instructorPaddingBottom guest"></div>
        <div class="instructorDescriptionContainer guest uidnr{data.uid}">
            {files.0.properties.iwansonsstuffimagetext -> f:format.raw()}
        </div>


        <f:if condition="{data.space_after_class}">
            <div class="frame-space-after-{data.space_after_class}"></div>
        </f:if>
        

                
    </div>
            
            
<div class="paddingFullColumn"></div>
            
    <f:comment>################ COLUMN ###############################</f:comment>
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
              <div class="contentLeft">
        </f:then>
        <f:else>
              <div class="contentRight">
        </f:else>
    </f:if>
    
    
        
    <f:if condition="{data.space_before_class}">
        <div class="frame-space-before-{data.space_before_class}"></div>
    </f:if>


        <ul class="instructorList guest font30">
            <f:for each="{files}" as="oneImage" iteration="fooIterator">

                        <li class="oneInstructor guest uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}" >
                            <div class="instructorListHeader"><a class="instructornr{fooIterator.cycle}">
                                {oneImage.properties.title}
                            </a></div>
                        </li>


            </f:for>
        </ul>        
         <div class="clear"></div>
        <div class="instructorPaddingBottom guest"></div>
   </div>


</div>
    <f:if condition="{data.space_after_class}">
    <div class="frame-space-after-{data.space_after_class}"></div>
</f:if>

