{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<f:if condition="{data.space_before_class}">
    <div class="frame-space-before-{data.space_before_class}"></div>
</f:if>
<div class="contentColumn iwansonImage nimble">

<f:for each="{files}" as="oneImage" iteration="fooIterator">
    <f:cycle values="{0:1, 1:2, 2:3, 3:4 }" as="cycleValue">

    <f:if condition ="{fooIterator.cycle} % 4">
        <f:then>   
        <div class="iwansonOneImage nimble nimblenr{cycleValue}">
            
        </f:then>
        <f:else>        
            <div class="iwansonOneImage last nimble nimblenr{cycleValue}">
        </f:else>    
    </f:if>

    <picture>
                <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'580',cropVariant:'default')}" >
                <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'350',cropVariant:'tablet')}">
                <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'280',cropVariant:'mobile')}">

                <img class="iwansonImage nimble" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}" title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
    </picture>

    </div>
    </f:cycle>
</f:for>
</div>
            
<div class="clear"></div>
<div class="nimblePaddingBottom"></div>
    

<f:if condition="{data.space_after_class}">
    <div class="frame-space-after-{data.space_after_class}"></div>
</f:if>



