{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<a name="c{data.uid}" id="c{data.uid}"></a>

<div class="oneContainer layout-{data.header_layout}" id="container{data.uid}" data-header="{data.header}">

    <f:comment>################ COLUMN ###############################</f:comment>
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
              <div class="contentLeft">
        </f:then>
        <f:else>
              <div class="contentRight">
        </f:else>
    </f:if>
    

            <div class="adminBodytext">
                {data.bodytext -> f:format.html()}
            </div>

        <ul class="adminList font30">
            <f:for each="{files}" as="oneImage" iteration="fooIterator">

                        <li class="oneAdmin uidnr{data.uid} adminnr{fooIterator.cycle}" data-adminnr="{fooIterator.cycle}" data-uidnr="{data.uid}" >
                            <div class="adminListHeader"><a class="adminnr{fooIterator.cycle}">
                                {oneImage.properties.title}
                            </a></div>
                            <div class="adminDescriptionHolder uidnr{data.uid} adminnr{fooIterator.cycle}">
                                <f:format.raw>{oneImage.properties.iwansonsstuffimagetext}</f:format.raw>
                            </div>
                            
                        </li>


            </f:for>
        </ul>
                
    </div>
<div class="paddingFullColumn"></div>
            
    <f:comment>################ COLUMN ###############################</f:comment>
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
              <div class="contentRight">
        </f:then>
        <f:else>
              <div class="contentLeft">
        </f:else>
    </f:if>
    
  
        <f:if condition="{data.space_before_class}">
            <div class="frame-space-before-{data.space_before_class}"></div>
        </f:if>


        <div class="contentColumn iwansonImage admin">


            <f:for each="{files}" as="oneImage" iteration="fooIterator">

                    <f:if condition ="{fooIterator.cycle} % 4">
                        <f:then>   
                            <div class="iwansonOneImage admin uidnr{data.uid} adminnr{fooIterator.cycle}" data-adminnr="{fooIterator.cycle}" data-uidnr="{data.uid}">

                        </f:then>
                        <f:else>        
                            <div class="iwansonOneImage last admin uidnr{data.uid} adminnr{fooIterator.cycle}" data-adminnr="{fooIterator.cycle}" data-uidnr="{data.uid}">
                        </f:else>    
                    </f:if>

                    <picture>
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'580',cropVariant:'default')}" >
                        <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'350',cropVariant:'tablet')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'240',cropVariant:'mobile')}">

                        <img class="iwansonImage admin" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}" title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
                    </picture>
                    </div>
            </f:for>
        </div>

        <div class="clear"></div>
        <div class="adminPaddingBottom"></div>
        <div class="adminDescriptionContainer uidnr{data.uid}"></div>


        <f:if condition="{data.space_after_class}">
            <div class="frame-space-after-{data.space_after_class}"></div>
        </f:if>
        
    </div>


</div>