{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<f:if condition="{data.space_before_class}">
    <div class="frame-space-before-{data.space_before_class}"></div>
</f:if>

            <div class="imageVerybigBodytext">
                {data.bodytext -> f:format.html()}
            </div>

<f:for each="{files}" as="oneImage" iteration="fooIterator">

    <f:if condition ="{fooIterator.cycle} % 3">
        <f:then>        
            <div class="contentColumn iwansonImage verybig">
        </f:then>
        <f:else>        
            <div class="contentColumn last iwansonImage verybig">
        </f:else>    
    </f:if>


    <div class="iwansonOneImage">

            <f:alias map="{ orient1: '{oe:imageCrops.isPortrait(cropString:\'{oneImage.properties.crop}\', index:0)}', orient2: '{oe:imageCrops.isPortrait(cropString:\'{oneImage.properties.crop}\', index:1)}', orient3: '{oe:imageCrops.isPortrait(cropString:\'{oneImage.properties.crop}\', index:2)}' }">

                <picture>
                    <f:if condition="{orient1}">
                        <f:then>
                            <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'360',cropVariant:'default')}" >
                        </f:then>
                        <f:else>
                            <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'920',cropVariant:'default')}" >
                        </f:else>
                    </f:if>
                    <f:if condition="{orient2}">
                        <f:then>
                            <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'200',cropVariant:'tablet')}">
                        </f:then>
                        <f:else>
                            <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'520',cropVariant:'tablet')}">
                        </f:else>
                    </f:if>
                    <f:if condition="{orient3}">
                        <f:then>
                            <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'440',cropVariant:'mobile')}">
                        </f:then>
                        <f:else>
                            <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'440',cropVariant:'mobile')}">
                        </f:else>
                    </f:if>                  
                    <img class="iwansonImage verybig" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}"title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
                </picture>

            </f:alias>

    </div>

</div>
</f:for>
<f:if condition="{data.space_after_class}">
    <div class="frame-space-after-{data.space_after_class}"></div>
</f:if>

<div class="clear"></div>

