{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<f:if condition="{data.space_before_class}">
    <div class="frame-space-before-{data.space_before_class}"></div>
</f:if>
<div class="contentColumn iwansonImage brochure">
    <f:for each="{files}" as="oneImage" iteration="fooIterator">
        <f:cycle values="{0:1, 1:2, 2:3, 3:4 }" as="cycleValue">

            <f:if condition ="{fooIterator.cycle} % 4">
                <f:then>   
                    <div class="iwansonOneImage brochure brochurenr{cycleValue}">

                </f:then>
                <f:else>        
                    <div class="iwansonOneImage last brochure brochurenr{cycleValue}">
                </f:else>    
            </f:if>
            <picture>
                <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'880',cropVariant:'default')}" >
                <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'580',cropVariant:'tablet')}">
                <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'440',cropVariant:'mobile')}">

                <img class="iwansonImage brochure" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}" title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
            </picture>
            <f:if condition="{oneImage.properties.iwansonsstuffdisquieter}">

                <div class="brochureDisquieterWrapper">

                    <table class="brochureDisquieter">
                        <tr>
                            <td>
                        <f:format.html>{oneImage.properties.iwansonsstuffdisquieter}</f:format.html>
                        </td>
                        </tr>
                    </table>
                </div>
            </f:if>
            
            <f:if condition="{oneImage.properties.link}">
                <div class="brochureLinkWrapper">
                <div class="brochureLink">
                    <f:link.typolink parameter="{oneImage.properties.link}">
                    <f:if condition="{oneImage.properties.iwansonsstufflinktext}">
                        <f:then>
                            > {oneImage.properties.iwansonsstufflinktext}
                        </f:then>
                        <f:else>
                             > <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:brochurelink" />          
                        </f:else>
                    </f:if>
                    </f:link.typolink>
                </div>
                </div>
            </f:if>
            </div>
        </f:cycle>
    </f:for>
</div>
 
<div class="clear"></div>
<div class="brochurePaddingBottom"></div>


<f:if condition="{data.space_after_class}">
    <div class="frame-space-after-{data.space_after_class}"></div>
</f:if>



