{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<f:if condition="{data.space_before_class}">
    <div class="frame-space-before-{data.space_before_class}"></div>
</f:if>
<a name="c{data.uid}" id="c{data.uid}"></a>

<div class="oneContainer instructors layout-{data.header_layout}" id="container{data.uid}" data-header="{data.header}">

    <f:comment>################ COLUMN ###############################</f:comment>
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
              <div class="contentRight">
        </f:then>
        <f:else>
              <div class="contentLeft">
        </f:else>
    </f:if>
    
    
  
    
    <f:if condition="{data.space_before_class}">
        <div class="frame-space-before-{data.space_before_class}"></div>
    </f:if>


    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
        </f:then>
        <f:else>   
            <div class="instructorBodytext">
                {data.bodytext -> f:format.html()}
            </div>       
                 
        </f:else>
    </f:if>    


        <div class="contentColumn iwansonImage instructor">


            <f:for each="{files}" as="oneImage" iteration="fooIterator">


                    <f:if condition ="{fooIterator.cycle} == 1">
                        <f:then>   
                            <div class="iwansonOneImage first instructor uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}">

                        </f:then>
                        <f:else>        

                            <f:if condition ="{fooIterator.cycle} == {files -> f:count()}">
                                <f:then>   
                                    <div class="iwansonOneImage last instructor uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}">

                                </f:then>
                                <f:else>        
                                    <div class="iwansonOneImage instructor uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}">
                                </f:else>    
                            </f:if>

                        </f:else>    
                    </f:if>
                    
                    

                    <picture>
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'800',cropVariant:'default')}" >
                        <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'440',cropVariant:'tablet')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',height:'280',cropVariant:'mobile')}">

                        <img class="iwansonImage instructor" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}" title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
                    </picture>
                    </div>
            </f:for>
        </div>

        <div class="clear"></div>
        <div class="instructorPaddingBottom"></div>
        <div class="instructorDescriptionContainer uidnr{data.uid}"></div>


        <f:if condition="{data.space_after_class}">
            <div class="frame-space-after-{data.space_after_class}"></div>
        </f:if>
        
    </div>

              
   
<div class="paddingFullColumn"></div>
            
    <f:comment>################ COLUMN ###############################</f:comment>
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
              <div class="contentLeft">
        </f:then>
        <f:else>
              <div class="contentRight">
        </f:else>
    </f:if>
                    
                            
    
    <f:if condition="{data.space_before_class}">
        <div class="frame-space-before-{data.space_before_class}"></div>
    </f:if>

    
    <f:if condition="{data.iwansonChangeColumnOrder}">
        <f:then>
            <div class="instructorBodytext">
                {data.bodytext -> f:format.html()}
            </div>                       
        </f:then>
        <f:else>
        </f:else>
    </f:if>    
 
        <ul class="instructorList font30">
            <f:for each="{files}" as="oneImage" iteration="fooIterator">

                        <li class="oneInstructor main uidnr{data.uid} instructornr{fooIterator.cycle}" data-instructornr="{fooIterator.cycle}" data-uidnr="{data.uid}" >
                            <div class="instructorListHeader"><a class="instructornr{fooIterator.cycle}">
                                {oneImage.properties.title}
                            </a></div>
                            <div class="instructorDescriptionHolder uidnr{data.uid} instructornr{fooIterator.cycle}">
                                <f:format.raw>{oneImage.properties.iwansonsstuffimagetext}</f:format.raw>
                            </div>
                        </li>
            </f:for>
        </ul>
                     <div class="clear"></div>
        <div class="instructorPaddingBottom"></div>

</div>
    </div>
            
    <f:if condition="{data.space_after_class}">
    <div class="frame-space-after-{data.space_after_class}"></div>
</f:if>

