{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}

<div class="iwansonimagetiles">


    <div class="tilesBodytext">
        {data.bodytext -> f:format.html()}
    </div>    
    
    <f:for each="{files}" as="oneImage" iteration="fooIterator">
        <f:cycle values="{0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9}" as="cycleValue">

            <f:if condition ="{cycleValue} == 1">
                <f:then>        
                    <div class="contentColumn iwansonImage tile{cycleValue} first">
                </f:then>
                <f:else>        
                    <f:if condition ="{cycleValue} % 9">
                        <f:then>        
                            <div class="contentColumn iwansonImage tile{cycleValue}">
                        </f:then>
                        <f:else>        
                            <div class="contentColumn iwansonImage tile{cycleValue} last">
                        </f:else>    
                    </f:if>
                </f:else>    
            </f:if>

            <div class="iwansonOneImage tile{cycleValue}" id="tileId{fooIterator.cycle}" data-tile="{cycleValue}" data-opened="0" data-lc-href="" data-lc-caption="{oneImage.properties.title}" >

                <f:if condition="{oneImage.originalFile.properties.extension} == 'mp4'">
                    <f:then>
                       <button class="videoPlayButtonActive"></button>
                        <video>
                            
                        <source src="{f:uri.image(image:'{oneImage}')}" type="video/mp4" width="1200px">       

                        <f:comment>
                            Das wäre das Ding mit der Video Extension hh_video_extender erkennt aber Image (Fallback). 
                        <f:media class="video-embed-item" file="{oneImage}" width="1200px" alt="{file.alternative}" title="{file.title}" additionalConfig="{settings.media.additionalConfig}" />
                        </f:comment>                        
                    </f:then>
                    <f:else>
                          <picture>


                    <f:if condition ="{cycleValue} == 1">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'920c', height:'680c', cropVariant:'landscape')}" >                    
                            <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'520c', height:'200c', cropVariant:'landscape')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'360c', height:'180c', cropVariant:'landscape')}">
                    </f:if>                

                    <f:if condition ="{cycleValue} == 2">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'920c', height:'680c', cropVariant:'landscape')}" >                    
                            <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'360c', height:'160c', cropVariant:'landscape')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'280c', height:'120c', cropVariant:'landscape')}">
                    </f:if>    

                    <f:if condition ="{cycleValue} == 3">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'680c', height:'920c', cropVariant:'portrait')}" >                    
                             <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'200c', height:'520c', cropVariant:'portrait')}">
                       <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'180c', height:'360c', cropVariant:'portrait')}">
                    </f:if>    

                    <f:if condition ="{cycleValue} == 4">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'680c', height:'920c', cropVariant:'portrait')}" >                    
                             <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'160c', height:'360c', cropVariant:'portrait')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'120c', height:'280c', cropVariant:'portrait')}">
                    </f:if>    
                    <f:if condition ="{cycleValue} == 5">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'680c', height:'920c', cropVariant:'portrait')}" >                    
                         <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'120c', height:'280c', cropVariant:'portrait')}">
                         <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'120c', height:'280c', cropVariant:'portrait')}">
                   </f:if>    
                    <f:if condition ="{cycleValue} == 6">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'920c', height:'680c', cropVariant:'landscape')}" >                    
                            <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'360c', height:'160c', cropVariant:'landscape')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'280c', height:'120c', cropVariant:'landscape')}">
                   </f:if>    
                    <f:if condition ="{cycleValue} == 7">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'680c', height:'920c', cropVariant:'portrait')}" >                    
                             <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'200c', height:'520c', cropVariant:'portrait')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'180c', height:'360c', cropVariant:'portrait')}">
                    </f:if>    
                    <f:if condition ="{cycleValue} == 8">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'920c', height:'680c', cropVariant:'landscape')}" >                    
                            <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'520c', height:'200c', cropVariant:'landscape')}">
                        <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'360c', height:'180c', cropVariant:'landscape')}">
                    </f:if>    
                    <f:if condition ="{cycleValue} == 9">
                        <source media="(min-width: 1025px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'680c', height:'920c', cropVariant:'portrait')}" >                    
                             <source media="(min-width: 440px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'160c', height:'360c', cropVariant:'portrait')}">
                         <source media="(max-width: 439px)" srcset="{f:uri.image(image:'{oneImage}',treatIdAsReference:'1',width:'120c', height:'280c', cropVariant:'portrait')}">
                   </f:if>  

                    <img class="iwansonImage tile{cycleValue}" data-portrait-default="{orient1}" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, cropVariant:'default')}"title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />

                    </f:else>
                </f:if>
                <f:if condition="{oneImage.originalFile.properties.extension} == 'mp4'">
                    <f:then>
                        </video>
                    </f:then>
                    <f:else>
                          </picture>
                    </f:else>
                </f:if>

            </div>
            <div class="tileText">
                {oneImage.properties.title}
            </div>
            
            
            </div>
            <f:if condition ="{cycleValue} == 5">
                <div class="clear tile5"></div>
            </f:if>    




        </f:cycle>
    </f:for>

    <f:comment>
        <script type = "text/javascript" src = "{f:uri.resource(path:'js/imagetiles.js', extensionName:'iwansonsstuff')}" ></script>
    </f:comment>

</div>    
<br/>