{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}



<div id ="sliderOeWrapper">
    <div id="tickerWrapper">
        <div id="ticker" data-ticker="{data.bodytext}">

        </div>
            <f:if condition="{data.bodytext}">
                <div class="startpageDisquieter2">
                    <div class="startpageDisquieter2Button">                        
                        <img src="{f:uri.resource(path: 'Media/disq_start_2_2.svg', extensionName: 'iwansonsstuff')}" width="100%" height="100%" />                        
                    </div>
                    <f:link.typolink parameter="{data.header_link}">
                        <div class="content">

                            <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:moreInformation" />          

                        </div>
                    </f:link.typolink>
                </div>    
            </f:if>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <f:for each="{files}" as="sliderelement">
                <div class="swiper-slide" style="background-image:url('<f:uri.image image="{sliderelement}" width="1920c" height="1920c" treatIdAsReference="1" cropVariant="default"/>');" data-desktop="<f:uri.image image="{sliderelement}" width="1920c" height="1920c" treatIdAsReference="1" cropVariant="default"/>" data-tablet="<f:uri.image image="{sliderelement}" width="1400c" height="1400c" treatIdAsReference="1" cropVariant="default"/>" data-mobile="<f:uri.image image="{sliderelement}" width="500c" height="1200c" treatIdAsReference="1" cropVariant="portrait"/>" >
                <f:if condition="{sliderelement.properties.iwansonsstuffdisquieter}">
                    <div class="startpageDisquieter">
                        <div class="startpageDisquieterButton">                        
                            <img src="{f:uri.resource(path: 'Media/disq_start_1.svg', extensionName: 'iwansonsstuff')}" width="100%" height="100%" />                        
                        </div>
                        <div class="content">
                        <f:format.raw>{sliderelement.properties.iwansonsstuffdisquieter}</f:format.raw>
                    
                        </div>
                    </div>
                </f:if>
        </div>
        </f:for>
    </div>
    <!-- If we need pagination 
    <div class="swiper-pagination"></div>
    -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- If we need scrollbar   
    <div class="swiper-scrollbar"></div>
    -->
</div>

</div>

