<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!--[if !mso]><!-- -->

<link href='http://fonts.googleapis.com/css?family=Lobster’ rel='stylesheet' type='text/css' />

<!--<![endif]-->

<table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <![endif]-->                    
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="header" style="padding: 40px 0 20px 0;" bgcolor="#ffffff">

                    <f:image src="EXT:iwansonsstuff/Resources/Public/Media/logo_iwanson_nl.png" title="" alt="IWANSON" />THE OTER TAMPLEATE!

                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding:0; margin:0;">

                        <f:format.raw>{content} </f:format.raw>

                    </td>
                </tr>
            </table>

            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>   
    </tr>
</table>