<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <![endif]-->                    
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="header" bgcolor="#c7d8a7">
                    saldkJ HÖLAJHSDökJAHDSÖKJAHÖSDkjHAÖDS KJ HAÖKJSD höaskjs

                    </td> </tr>
                <td>

                        
                        <table width="70" align="left" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="70" style="padding: 0 20px 20px 0;">
                                    asdlnaslödn alsjdölasjhdöjalsh döjask hdökash dkjs halkdjhsa lkjd hs
                                </td>
                            </tr>
                        </table>           


                        <!--[if (gte mso 9)|(IE)]>
                        <table width="425" align="left" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                <![endif]-->
                        <table class="col425" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 425px;">
                            <tr>
                                <td height="70">

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="subhead" style="padding: 0 0 0 3px;">
                                                CREATING
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="padding: 5px 0 0 0;">
                                                Responsive Email Magic
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                        sadads
                <f:format.raw>{content} </f:format.raw>
                        
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                    </tr>
                </table>
                <![endif]-->                        

                    </td>
                </tr>















            </table>





            <!--[if (gte mso 9)|(IE)]>
        </td>
    </tr>
</table>
<![endif]-->
        </td>
    </tr>
</table>