
<f:render partial="Mail/NewsletterHeader" arguments="{_all}"/>

                    <table align="center" class="container body-drip float-center" width="580" style="width:580px;">
                        <tbody>
                            <tr>
                                <td>

                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <th class="small-12 large-12 columns first last">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                        <f:format.raw>{content}</f:format.raw>
                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                    </table>
                                    </th>
                            </tr>
                        </tbody>
                    </table>
                                    
<f:render partial="Mail/NewsletterFooter" arguments="{_all}"/>
