@import url('https://fonts.googleapis.com/css?family=PT+Serif:400&display=swap&subset=latin-ext');
/* ######### Basics  ######### */

@font-face {
    src: url('../Fonts/InputMonoCompressed-Regular.eot'); /* IE < 9 */
    src: url('../Fonts/InputMonoCompressed-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
        url('../Fonts/InputMonoCompressed-Regular.woff2') format("woff2"),
        url('../Fonts/InputMonoCompressed-Regular.woff') format("woff");
    font-family: 'InputMonoCompressed';
    font-style: normal;
    font-weight: normal;
}


@font-face {
    src: url('../Fonts/InputMonoCompressed-Bold.eot'); /* IE < 9 */
    src: url('../Fonts/InputMonoCompressed-Bold.eot?#') format("embedded-opentype"), /* IE 9 */
        url('../Fonts/InputMonoCompressed-Bold.woff2') format("woff2"),
        url('../Fonts/InputMonoCompressed-Bold.woff') format("woff");
    font-family: 'InputMonoCompressed';
    font-style: normal;
    font-weight: bold;
}

html, body, p, table, div, span {
    font-family:"InputMonoCompressed";
    text-rendering: optimizeSpeed;    
}

h1 {
    font-family: 'PT serif';
    font-size:100px;
    line-height:90px;
    font-weight:400;
    letter-spacing:0.1em;
}
h2, h3 {
    font-size:30px;
    line-height:36px;
    text-transform:uppercase;
    margin-bottom:12px;
    letter-spacing:0.15em;   
    font-weight: 600;    
}
.indent9 {
    padding-left:100px;
}
table tbody tr td {
    vertical-align:top;
    font-weight: bold;
    padding-right:4px;
}
.event {
    font-weight:bold;
    font-size:30px;
    line-height:36px; 
}
.citation {
   font-size:30px;
   line-height:36px;
   letter-spacing:0.15em;       
}
a.button {
    border-top: 3px solid #39ff14;
}
.nameList {
   font-size:30px;
   line-height:36px;
   letter-spacing:0.15em;       
   text-transform:uppercase;

}
/** justify **/
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}