@import url('https://fonts.googleapis.com/css?family=PT+Serif:400&display=swap&subset=latin-ext');
/* ######### Basics  ######### */

@font-face {
    src: url('../Fonts/InputMonoCompressed-Regular.eot'); /* IE < 9 */
    src: url('../Fonts/InputMonoCompressed-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
        url('../Fonts/InputMonoCompressed-Regular.woff2') format("woff2"),
        url('../Fonts/InputMonoCompressed-Regular.woff') format("woff");
    font-family: 'InputMonoCompressed';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('../Fonts/InputMonoCompressed-Bold.eot'); /* IE < 9 */
    src: url('../Fonts/InputMonoCompressed-Bold.eot?#') format("embedded-opentype"), /* IE 9 */
        url('../Fonts/InputMonoCompressed-Bold.woff2') format("woff2"),
        url('../Fonts/InputMonoCompressed-Bold.woff') format("woff");
    font-family: 'InputMonoCompressed';
    font-style: normal;
    font-weight: bold;
}

*, html, body, table, td, tr, div, p {
    padding:0;
    margin:0;
}

a, a:visited {
    color: black;
}

a:hover {
    /*    color:#39ff14;*/
    text-decoration: none;
}

a.button {
    float:right;
    border-bottom: 5px solid #39ff14;
    border-left: 5px solid #39ff14;
    padding:10px 0 0 20px;
    width:160px;
    height:50px;
    margin-top:80px;
    margin-right:80px;
    font-weight:bold;
    text-decoration:none;
    background:#fff;
}


html {
    height:100%;
    width:100%;
}
.clear {
    clear:both;
}

#hamburger {
    display:none;
}

#mouseReplacementWrapper {
    position: absolute;
    width:0;
    height:0;
}

#mouseReplacement {
    position: absolute;
    top: 0;
    left: 0;
    width:320px;
    height:320px;
    overflow:visible;
    background-image: url('../Media/mouse_1.png');
    background-repeat:no-repeat;
    background-position: center;
    z-index:5;
    pointer-events: none;
    display:none;
    transition: background-size 0.3s;
}
#mouseReplacement .next, #mouseReplacement .prev {
    position: absolute;
    text-align: center;
    width: 320px;
    padding-top:140px;
    display:none;
}

body {
    width:100%;
    text-rendering: optimizeSpeed;
    font-feature-settings: "liga" 0;    
    font-family: 'InputMonoCompressed';
    font-size:18px;
    line-height:27px;
}
#spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-image: url('../Media/iwanson-loading-icon.png');
    background-repeat:no-repeat;
    background-position: center center;
    display:none;
}
#spinnerCurtain {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:#fff;
    opacity: 0.6;
    z-index: 99998;
    display:none;
}

h1, h2, h3, p, .ce-bodytext table {
    position:relative;
    z-index:6;
}

h1 {
    font-family: 'PT serif';
    font-size:100px;
    line-height:90px;
    font-weight:400;
    letter-spacing:0.1em;
}

h2, h3 {
    font-size:30px;
    line-height:36px;
    text-transform:uppercase;
    margin-bottom:12px;
    letter-spacing:0.15em;   
    font-weight: 600;    
}

.adminList h2, .instructorList h2  {
    font-weight: 400;    
}

.adminListHeader, .instructorListHeader {
   letter-spacing:0.15em;   
}

#logo {
    /* will be adjusted by js */
    position:fixed;
    top:80px;
    left:80px;
    z-index:19;
}

#logoBackground {
    /* will be adjusted by js */
    position:fixed;
    background:white;
    width:800px;  
    height:160px;
    top:0;
    left:0;
    z-index:17;
    cursor:pointer;
}


#footerItself {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:0;
    border-top: 3px solid black;
    opacity: 0;
    background:white;
    z-index:22;
    cursor:pointer;
}
#footerIcon {
    position:fixed;
    width:60px;
    height:20px;
    bottom:40px;
    left:20px;
    background:none;
    z-index:33;

}

.footerIcon {
    width: 100%;
    height:100%;
    border-left: 5px solid #239832;
    border-top: 5px solid #239832;
}

#footerContent .oneContainer {
    padding-top:0;
    margin-top:0;

}


table {
}

table td {
    vertical-align:top;
    font-weight: bold;
}

#oeVars {
    position:fixed; 
    top:0;
    left:0;
    /*  width:0;
      height:0;*/
    font-size:30px;
    color:#aa33ff;
    z-index:9991;
    display:none;
}


.iwansonImage {
    /*
    filter: gray; /* IE6-9 */
    /* -webkit-filter: grayscale(100%) contrast(110%); /* Webkit */
    /*filter: grayscale(100%) contrast(110%); /* W3C */    
    /* transition: filter, -webkit-filter 0.6s;
    */
}


/* ######### DESKTOP main (>=1920)  ######### */

#wrap {
    height: calc( 100vh ) ;  
    max-width:1920px;
    min-width:1024px;
    z-index:2;
}

#innerWrap {
    margin-left:80px;
    margin-right: 200px;
    padding-top:200px;
}
.oneContainer {
    display: flex;
}
.paddingColumn {
    flex: 2 1; 
}


/* padding on fullscreen Elements with nevertheless 2 Columns (admin and the like) */
.paddingFullColumn {
    flex: 7 1; 
    order:2;        
}

.contentNavigationSpacer{
    flex: 3 1; 
}

.paddingColumn.columnsReversed{
    order:2;
}
.contentNavigationSpacer.columnsReversed{
    order:2;
}


#menu {
    position:fixed;
    width:4800px;    
    top:0;
    left:1800px;
    height: 100vh;    
    border-left: 3px solid #000;
    z-index:99;
    padding:20px; 
    padding-top:120px;
    background:white;
}

#menuRotate { 
    position:fixed;
    top:80px;
    left:1760px;
    width:200px;
    height:100px;
    z-index:999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);    
}
#menuInnerWrapper {
    opacity: 1;
    position:relative;    
    font-size: 30px;
    line-height: 72px;
    text-transform: uppercase;
    top:-120px;
    /* 3p border" */
    right:4823px;
    float:right;
    width: 0;
    background:rgba(255,255,255,1);
    height:100vh; 
    overflow: hidden;
}
#menuInner {
    font-size: 30px;
    line-height: 72px;
    text-transform: uppercase;
    padding:242px 0 0 360px;
    letter-spacing:0.15em;       
    left:400px;
    position:fixed;
    z-index:999;
    display:none;
    opacity:0;
    top:120px;
    overflow:auto;
    scrollbar-width:none;
}
#menuInner::-webkit-scrollbar
{
  width: 0;  /* for vertical scrollbars */
  height: 0; /* for horizontal scrollbars */
}
#menuInner a { 
    color:black;

}
#menuInner a:hover { 
    /*    color: #39ff14;*/
    text-decoration: none;

}

#menu table {
    float:right;
    border-collapse: collapse;
}

#menu table tr td, #menuRotate table tr td {
    height:40px;
    margin:0;
    padding:0;
}
#menuOpenButton {
    font-size: 30px;
    line-height: 30px;
    font-family: 'PT serif';
    font-weight:600;
    letter-spacing:0.05em;    
    vertical-align: bottom;
    cursor:pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */    
}
#menuCloseButton {
    display:none;
    position: relative;
    top:-80px;
    cursor:pointer;
}
#footerMenuCloseButton {
    position: relative;
    top: 40px;
    left:360px;
}

#menuSubParts {
    display:none;
}

li.cur {
    /*    font-weight:bold;*/
}
#langMenu {
    font-size: 18px;
    line-height: 18px;
    letter-spacing:0.05em;   
    vertical-align: top;
    margin-top:-10px;
    text-align:right;
    font-weight: 400;
}
#langMenu a {
    text-decoration: none;
    color:black;
}
#langMenu li.lang.act a {
    text-decoration: underline;
}

#langMenu li.lang.noLang {
    color:#aaa;
}
ul.langMenu {
    list-style-type: none;    
    margin-top:-10px;
    margin-right:9px;
    float:right;
}

ul.langMenu li {
    float:left;
    padding-right:14px;
}



ul {
    list-style-type: none;
}
#menuInner ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
#menuInner ul li {
    padding:0;
    margin:0;    
}

/* no underline in active menu element */
#menuInner ul li.open a {
    text-decoration: none;
}

#menuInner ul #tempSubMenu {
    text-align: right;
    font-size: 18px;
    line-height: 32px;
    text-transform: none;    
    width:830px;
    background-image: url('../Media/menu_lining.svg');
    background-repeat: no-repeat;
    padding: 12px 30px 0 0;
    /*  height:0;
      opacity:0; */
}
#menuInner ul #tempSubMenu li {
    padding-right:40px;
}

#menuInner ul #tempSubMenu li  {
    text-decoration: none;
    font-weight:bold;
}
#menuInner ul #tempSubMenu li.lay100  {
    font-weight:normal;
}



#menuInner ul li.open ul#tempSubMenu  li a {
    text-decoration: underline;
}
#menuInner ul li.open ul#tempSubMenu  li a:hover {
    text-decoration: none;
}

#contentNavigationButton {
    position:fixed;
    width:80px;    
    height:120px;    
    bottom:80px;
    left:840px;
}

#contentNavigation {
    display: flex;
    position:fixed;
    width:120px;    
    top:0;
    left:840px;
    height: 100vh;    
    z-index:9;
}

#contentNavigation .beforeFiller {
    flex-grow: 1;
}

#contentNavigationInner {
    white-space: nowrap;
    transform-origin: left top;
    margin-top: auto; 
    width:auto;
    height:60px;
    padding-top:20px;
    padding-left:40px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);    
}

#midMenu {
    width:800px;
}

.containerLink {
    float:left;
    padding-right:30px;
}
.containerLink:hover {
    text-decoration:underline !important;
}

.oneGridElement.alignBottom .innerFlexOnlyDesktop .frame-default ,
.oneGridElement.alignBottom .innerFlex .frame-default {
    margin-top: auto; 
}

.frame-space-before-extra-small {
    margin-top: 40px;
}
.frame-space-before-small {
    margin-top: 80px;
}
.frame-space-before-medium {
    margin-top: 120px;
}
.frame-space-before-large {
    margin-top: 160px;
}
.frame-space-before-extra-large {
    margin-top: 200px;
}

.frame-space-after-extra-small {
    margin-bottom: 40px;
}
.frame-space-after-small {
    margin-bottom: 80px;
}
.frame-space-after-medium {
    margin-bottom: 120px;
}
.frame-space-after-large {
    margin-bottom: 160px;
}
.frame-space-after-extra-large {
    margin-bottom: 200px;
}

/* ----- evil scrolling and fixed hacks ---- */

#fixContainerRightColumn {
    position:fixed;
    opacity:0;
    z-index:8;
    /*    background:#983762;*/
}



img.iwansonImage.verybig {
    position:relative;
}

div.imageVerybigBodytext {
    height:100px;
    overflow:visible;
}

.iwansonImage.tile1,.iwansonImage.tile2,.iwansonImage.tile3,.iwansonImage.tile4,.iwansonImage.tile5,
.iwansonImage.tile6,.iwansonImage.tile7,.iwansonImage.tile8,.iwansonImage.tile9 { position:relative; }

.iwansonImage.tile1 .tileText { position:absolute; top:0; width:360px; left: -400px; text-align: right; opacity:0; }
.iwansonImage.tile2 .tileText { position:absolute; bottom:-40px; opacity:0; }
.iwansonImage.tile3 .tileText { position:absolute; bottom:-60px; opacity:0; }
.iwansonImage.tile4 .tileText { position:absolute; bottom:-280px; opacity:0; }
.iwansonImage.tile5 .tileText { position:absolute; bottom:-220px; right:240px; width:400px; opacity:0; display:none; }
.iwansonImage.tile6 .tileText { position:absolute; top:400px; width:360px; left: -520px; opacity:0; display:none; }
.iwansonImage.tile7 .tileText { position:absolute; bottom:-40px; opacity:0; }
.iwansonImage.tile8 .tileText { position:absolute; bottom:-40px; opacity:0; }
.iwansonImage.tile9 .tileText { position:absolute; bottom:20px; width:360px; left: -380px; opacity:0; text-align:right; }


.iwansonimagetiles .iwansonOneImage {
    overflow:hidden;
}
.iwansonOneImage, .iwansonOneImage img {
}
.iwansonimagetiles .tilesBodytext {
    height:1px;
}

.videoPlayButtonActive {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 50%;
    border:none;
    background:transparent;
    background-image:  url('../Media/playButton.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    transition: opacity 1s;
}

.iwansonOneImage.tile1 { width:920px; height:360px; }            
.iwansonOneImage.tile2 { width:680px; height:280px; }
.iwansonOneImage.tile3 { width:360px; height:920px; }
.iwansonOneImage.tile4 { width:280px; height:680px; }
.iwansonOneImage.tile5 { width:240px; height:560px; }
.iwansonOneImage.tile6 { width:680px; height:280px; }
.iwansonOneImage.tile7 { width:360px; height:920px; }
.iwansonOneImage.tile8 { width:920px; height:360px; }
.iwansonOneImage.tile9 { width:280px; height:680px; }      


.nimblePaddingBottom, .adminPaddingBottom  {
    padding-bottom:80px;
}
.iwansonOneImage.nimble, .iwansonOneImage.admin {
    float:left;
    margin-right:0;
    padding-bottom: 8px;
    position:relative;
}

.iwansonOneImage.last.nimble, .iwansonOneImage.last.admin {
    margin-right:0;
}

.nimblenr1  { top:0;   }
.nimblenr2  { top:80px;   }
.nimblenr3  { top:50px;   }
.nimblenr4  { top:80px;   }

.adminnr1  { top:0; }
.adminnr2  { top:80px; }
.adminnr3  { top:0; }
.adminnr4 { top:80px; }


.iwansonOneImage.admin {
    border-bottom: 6px solid white;        
    transition: border-bottom, opacity 1s;
    opacity:0.5;
}
.iwansonOneImage.admin.active {
    opacity:1;
    border-bottom: 6px solid #39ff14;    
}
.contentLeft .adminBodytext h1 {
    text-align: right;
}

.adminList {
    padding-top:120px;
    font-size:30px;
    line-height:36px;
    position: relative;
    z-index: 6;    
}
.contentLeft .adminList {
    text-align:right;
}
.contentRight .adminList {
    padding-left:120px;
}
.adminList a {
    text-decoration:underline;
    text-transform: uppercase;
}

.adminList a:hover {
    text-decoration:none;
}


.oneAdmin.active a {
    /*    color:#39ff14;*/
    font-weight: bold;
    text-decoration:none;
}
.adminDescriptionHolder {
    /*    display:none;*/
    font-size: 18px;
    line-height: 27px;
    padding:0 0 0 0;
    height:0;
    opacity:0;
    overflow:hidden;
    transition: height,padding,opacity 0.8s;
}

.adminDescriptionContainer {
    height:0;
    opacity:0;
    transition: all 1s;
    padding: 40px 0 80px 0;
}


.instructorList a {
    text-decoration:underline;
    text-transform: uppercase;
}
.instructorList a:hover {
    text-decoration:none;    
}

.oneInstructor.active a {
    /*    color:#39ff14;*/
    font-weight: bold;
    text-decoration:none;
}


.iwansonOneImage.instructor {
    position: absolute;
    top:0;  
    opacity:0;
    transition: all 1s;
}
.iwansonOneImage.instructor.first {
    opacity:1;
}

.instructorDescriptionHolder {
    /*    display:none;*/
    font-size: 18px;
    line-height: 27px;
    padding:0 0 0 0;
    height:0;
    opacity:0;
    overflow:hidden;
    transition: height,padding,opacity 0.8s;
}
.instructorDescriptionContainer {
    height:0;
    opacity:0;
    transition: all 1s;
    padding: 40px 0 80px 0;
}
.instructorDescriptionContainer.guest {
    padding: 40px 80px 80px 120px;
    opacity:1;
    height:auto;
}
.brochureDisquieterWrapper {
    height:0;
}
.brochureDisquieter {
    height:550px;
    position:relative;
    top:-590px;
    color:white;
    font-size:30px;
    line-height:36px;
    text-transform:uppercase;
}
.brochureDisquieter td {
    padding-left:40px;
    vertical-align:bottom;
}

.brochureLinkWrapper {
    padding-top:20px;
    float:right;
    z-index: 6;
    position: relative;
}
.brochureLink {
    float:right;
    text-align:right;
    width:60%;
}


/* fixed button */


.fixedButtonWrap {
    position:fixed;
    top:120px;
    left:1400px;
    width:180px;
    height:60px;
    border-bottom: 5px solid #39ff14;
    border-left: 5px solid #39ff14;
    overflow:show;
    z-index:90;
    background:white;
}

.fixedButton {
    width:240px;
    padding: 18px 0 14px 20px;
    font-weight:bold;
    background:white;
}
.fixedButton a {
    text-decoration:none;
}


/*  Startpage */

#startpageSlider {
    position: absolute;
}
#tickerWrapper {
    padding-left:50px;
    padding-right:50px;

}
#ticker {
    font-family: 'PT serif';
    position:absolute;
    color:white;
    font-size:100px;
    line-height:90px;
    z-index:20;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */  
    pointer-events: none;
    width:85%;
}
#sliderOeWrapper {
    width:1800px;
    height:100vh;
}
.startpageDisquieter {
    color:white;
    /*    font-size:18px;
        line-height:27px;    */
    position:absolute;
    left:600px;
    top:700px;
}
.startpageDisquieter a {
    color:white;
}
.startpageDisquieterButton {
    height: 90px;
}
.startpageDisquieter .content {
    position: relative;
    top: -70px;
    left: 25px;
    z-index:6;

}

.startpageDisquieter2 {
    color:white;
    /*    font-size:18px;
        line-height:27px;    */
    position:absolute;
    left:1520px;
    bottom:100px;
    z-index:20;
}
.startpageDisquieter2 a {
    color:white;
}
.startpageDisquieter2Button {
    width: 160px;
    height: 60px;
}
.startpageDisquieter2 .content {
    position: relative;
    top: -50px;
    left: 25px;
}


.swiper-container, .swiper-wrapper, .swiper-slide {
    width:100%;
    height:100%;
}
.swiper-slide { 
    background-position: center center;
    background: black;
    background-repeat: no-repeat;
}

.swiper-button-next, .swiper-button-prev {
    height:100% !important;
    top:0 !important;
    width:200px !important;
    background-image: none !important;
}

/*  Events */

.event {
    font-weight:bold;
    font-size:30px;
    line-height:36px;
    letter-spacing:0.15em;       
}
.nameList {
    font-size:30px;
    line-height:36px;
    letter-spacing:0.15em;       
    text-transform:uppercase;

}

.oneDay {
    z-index: 8;
}
.citation {
    font-size:30px;
    line-height:36px;
    letter-spacing:0.15em;       
}



/* ------ FORM ----- */

form fieldset {
    float: left;
    width: 45%;
    border:0;
    padding:0;
    margin:0;
}
.tx-femanager form fieldset {
    width: 90%;
}

.tx-femanager form fieldset .alert.bg-danger {
    font-weight: bold;
    color: #39ff14;
}
.tx-femanager form fieldset .alert.bg-danger button,
.tx-femanager form fieldset .alert.bg-danger  h4 {
    display:none;
}

form fieldset:first-of-type {
    margin-right:7%;
}

form div.actions {
    clear:both;
    width:45%;
    float:right;
    padding-bottom:120px;
}

form input {
    border:none;
    border-bottom: 1px solid #ddd;
    text-rendering: optimizeSpeed;
    font-feature-settings: "liga" 0;
    font-family: 'InputMonoCompressed';
    font-size:1em;

}
.input.checkbox {
}
form input[type=text], form input[type=email], form input[type=tel] {
    padding:6px 14px;
    margin: 0 0 2px 0;
    font-weight: bold;
    width:50%;
}
form textarea {
    padding:6px 14px;
    margin: 0 0 2px 0;
    font-weight: bold;
    width:50%;
    height:200px;
    resize: vertical;
}
  #footerContent  form input[type=text], #footerContent form input[type=email] {
    width:85%;
    }

    #footerContent fieldset {
        width:100%;
    }
    
    #footerContent .cols-8-8-I-I.content div {
           width:100%;
    }
      #footerContent .cols-8-8-I-I.content div.beforeFiller {
           width:0px;
    }  
    
    textarea:focus, input:focus{
    outline: none;
}
form input.error {
    border-bottom: 5px solid #39ff14;
    outline: none;
      box-shadow: none;  
}
/* , form input:invalid */

label.error {
    font-weight: bold;
    color: #39ff14;
    position: relative;
    /*    left: -400px;
        top: 40px; */
    background: white;
    padding-left: 20px;
}

form input[type=file] {
    border:none;
    position:relative;
    top:0;
    left:0;
    opacity:0.3;
    height:0;
}
form .clearfix {
    font-weight: bold;
    padding-bottom:40px;
}

form .form-group {
    padding-bottom:40px;

}


form .form-group.add-on{
    padding-bottom:0;
}

form .help-block {
    font-weight: bold;
    padding:30px 0 20px 0;
    display:block;
}

label.control-label.lightbox, button.btn, form input[type=submit] {
    border:none;
    border-bottom: 5px solid #39ff14;
    border-left: 5px solid #39ff14;
    padding: 10px 20px 10px 12px;
    float:right;
    background:white;
    width:180px;
    font-family: 'InputMonoCompressed';
    font-size:1em;
    text-align: left;
}

/* ---- custom select -----*/

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

.custom-select select {
    opacity:0;
    height:0;   /*hide original SELECT element:*/
}

.select-selected {
    font-size:30px;
    line-height:36px;
    text-transform:uppercase;
    text-decoration: underline;
    letter-spacing:0.1em;

}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active {
    text-decoration: none;
    font-weight: bold;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    text-decoration:underline;
    text-align: right;
    border-top: 5px solid #39ff14;
    border-right: 5px solid #39ff14;
    padding: 8px 30px;
    margin-top:10px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    font-weight: bold;
}

/* ---- custom select END -----*/

.femanager_flashmessages > .typo3-message, .luxletter-messages.bg-primary {
    background-color: #fff !important;
    border: none;
font-weight: bold;
color: #39ff14;
}


/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# Desktop (>1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (min-width: 1025px)  {
 
    body {
        overflow-x:hidden;
    }
    #logo {
        width:720px;  
    }

    .iwansonImage {
        float:left;
    }
    .contentLeft {
        /* will be adjusted by js */    
        flex: 17 1; 
        overflow: hidden;
        background-size: contain;                          
    }
    .contentLeft.columnsReversed {
        order:3;
    }

    .contentRight {
        /* will be adjusted by js */
        flex: 17 1; 
        overflow: hidden;
        order:3;    
        background-size: contain;       
    }
    .contentRight.columnsReversed {
        order:1;
    }


    /* -- inner columns left -- */

    .innerFlex, .innerFlexOnlyDesktop {
        display: flex;
    }

    .oneBetween { flex: 1 0; }

    /* einfache Grid elements */


    .cols-17-I {  flex: 1 0; }

    .cols-3-6-6-I {  flex: 3 0; }
    .cols-3-6-6-II { flex: 6 0; }
    .cols-3-6-6-III { flex: 1 0; }
    .cols-3-6-6-IV {flex: 6 0; }
    .cols-3-6-6-V { flex: 1 0; }

    .cols-3-12-2-I {  flex: 3 0; }
    .cols-3-12-2-II {  flex: 12 0; }
    .cols-3-12-2-III {  flex: 2 0; }

    .cols-6-3-8-I {  flex: 6 0; }
    .cols-6-3-8-II {  flex: 3 0; }
    .cols-6-3-8-III {  flex: 8 0; }

    /* komplexe (eine Reihe zu 2 Reihen bei mobil) */

    .cols-8-8-I {  flex: 9 0; display:flex; }
    .cols-8-8-I-I {  flex: 8 0; display:flex;}
    .cols-8-8-I-II {  flex: 1 0; display:flex;}

    .cols-8-8-II {  flex: 8 0; display:flex; }
    .cols-8-8-II-I {  flex: 0 0; display:flex;}
    .cols-8-8-II-II {  flex: 8 0; display:flex; }

    #footerContent .cols-8-8-II-II {
        display:block;
    }
    #footerContent .paddingColumn, #footerContent .contentNavigationSpacer {
        flex: 0 1;        
    }
    .cols-6-1-10-I  {  flex: 7 0; display:flex; }
    .cols-6-1-10-I-I  {  flex: 6 0; display:flex;}
    .cols-6-1-10-I-II  {  flex: 1 0; display:flex;}

    .cols-6-1-10-II  {  flex: 10 0; display:flex; }
    .cols-6-1-10-II-I  {  flex: 0 0; display:flex;}
    .cols-6-1-10-II-II  {  flex: 10 0; display:flex;}

    .indent9 {
        padding-left:360px;
    }

    .leftSmallLeft {
        flex: 6 0; 
    }

    .leftSmallRight {
        flex: 8 0; 
    }
    .leftSmallRightPadding {
        flex: 2 0; 
    }


    .rightSmallLeft {
        flex: 8 0; 
    }

    .rightSmallRight {
        flex: 6 0; 
    }
    .rightSmallRightPadding {
        flex: 2 0; 
    }



    .evenLeft {
        flex: 8 0; 
    }
    .evenRight {
        flex: 8 0; 
    }


    .leftSmallRight h1, .rightSmallRight h1, .evenRight h2{
        text-align:right;
        padding:0;
    }

    .oneGridElement {
        margin:0;
    }

    .oneGridElement.alignBottom .innerFlex .evenRight,
    .oneGridElement.alignBottom .innerFlex .evenLeft {
        display: flex;
    }
    .oneGridElement.alignBottom .innerFlexOnlyDesktop .beforeFiller,
    .oneGridElement.alignBottom .innerFlex .beforeFiller {
        flex-grow: 1;
    }

    .instructorBodytext {
        float:left;
        padding-top:80px;
        width:320px;
        padding-right:40px;
    }

    .instructorBodytext.guest {
        float:right;
        text-align:right;
        padding-top:0;
        overflow:visible;
        height:120px;
        position:relative;
    }
    .instructorList {
        font-size:30px;
        line-height:36px;
        padding-top:80px;
        position: relative;
        z-index: 6;
    }
    button {
        z-index: 6;
        position: relative;
    cursor:pointer;
    }
    
    div.iwansonImage.instructor {
        position: relative;
        height:800px;
    }
    div.iwansonImage.instructor.guest {
        position: relative;
        height:360px;
    }

    .iwansonOneImage video {
        width:100%;
    }
    
    form input[type=text] {
        background:transparent;
    }
    
    form input[type=checkbox] {
        cursor:pointer;
        z-index: 6;
        position: relative;

    }

/*    div {
        border: 1px dotted navy;
    }
    */
    
}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# TABLET (1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 1024px) and (min-width: 441px) {


    body {
        font-size:18px;
        line-height:20px;
        overflow-x:hidden;
    }

    .iwansonImage {
        float:left;
    }

    h1 {
        font-size:56px;
        line-height:56px;
        font-weight:400;
        letter-spacing:0.1em;
    }

    h2, h3 {
        font-size:24px;
        line-height:28px;
    }



/*    #logoBackground {
        border-top:3px solid #339988;
    }   
*/
    #wrap {
        height: calc( 100vh ) ;  
        max-width:1024px;
        min-width:440px;
        z-index:2;
    }

    #innerWrap {
        margin-left:60px;
        margin-right: 100px;
    }

    /* -- inner columns left -- */

    .innerFlex {
        display: flex;
    }
    .innerFlexOnlyDesktop { 
        display: block;      
    }
    
    #footerContent .innerFlexOnlyDesktop { display: flex; }
    
     
    #menuInner {
        font-size: 19px;
        line-height: 50px;
        padding:0;
        left:120px;
    }

    #menuInner ul #tempSubMenu {
        background-image: url('../Media/menu_lining_tablet.svg');
        width:680px;
        font-size:14px;
        line-height: 25px;
    }

    .paddingColumn {
        flex: 0.5 1; 
    }

    #footerContent .paddingColumn {
        flex: 0 1; 
    }
    
    .contentLeft {
        /* will be adjusted by js */    
        flex: 9 1; 
        order:1;
        
    }
    
    .contentLeft.columnsReversed {
        order:3;
    }
    .contentNavigationSpacer{
        flex: 2 1; 
    }


    #footerContent .paddingColumn, #footerContent .contentNavigationSpacer {
        flex: 0 1;        
    }
    /* padding on fullscreen Elements with nevertheless 2 Columns (admin and the like) */
    .paddingFullColumn {
        flex: 3 1; 
        order:2;        
    }

    .paddingColumn, .contentNavigationSpacer {
        order:2;        
    }
    
    .contentRight {
        /* will be adjusted by js */
        flex: 9 1; 
        order:3;
        
    }



    .contentRight.columnsReversed {
        order:1;
    }

    /* einfache Grid elements */

    .cols-3-6-6-I {  flex: 0 0; }
    .cols-3-6-6-II { flex: 4 0; }
    .cols-3-6-6-III { flex: 1 0; }
    .cols-3-6-6-IV {flex: 4 0; }
    .cols-3-6-6-V { flex: 0 0; }

    .cols-3-12-2-I {  flex: 1 0; }
    .cols-3-12-2-II {  flex: 7 0; }
    .cols-3-12-2-III {  flex: 1 0; }

    .cols-6-3-8-I {  flex: 3 0; }
    .cols-6-3-8-II {  flex: 1 0; }
    .cols-6-3-8-III {  flex: 5 0; }


    /* komplexe (eine Reihe zu 2 Reihen bei mobil) */


    .cols-8-8-I {  display:flex; }
    .cols-8-8-I-I {  flex: 7 0; padding-bottom:40px; }
    .cols-8-8-I-II {  flex: 2 0; }

    .cols-8-8-II { display:flex; }
    .cols-8-8-II-I {  flex: 2 0; }
    .cols-8-8-II-II {  flex: 7 0; }

    .cols-6-1-10-I  { display:flex; }
    .cols-6-1-10-I-I  {  flex: 6 0; }
    .cols-6-1-10-I-II  {  flex: 3 0; }

    .cols-6-1-10-II  { display:flex; }
    .cols-6-1-10-II-I  {  flex: 2 0; }
    .cols-6-1-10-II-II  {  flex: 7 0; }



    .frame-space-before-extra-small {
        margin-top: 40px;
    }
    .frame-space-before-small {
        margin-top: 80px;
    }
    .frame-space-before-medium {
        margin-top: 120px;
    }
    .frame-space-before-large {
        margin-top: 160px;
    }
    .frame-space-before-extra-large {
        margin-top: 200px;
    }

    .frame-space-after-extra-small {
        margin-bottom: 40px;
    }
    .frame-space-after-small {
        margin-bottom: 80px;
    }
    .frame-space-after-medium {
        margin-bottom: 120px;
    }
    .frame-space-after-large {
        margin-bottom: 160px;
    }
    .frame-space-after-extra-large {
        margin-bottom: 200px;
    }


    /*  Startpage */
    .startpageDisquieter {
        color:white;
        position:absolute;
        left:300px;
        bottom:90px;
    }


    #ticker {
        font-size:56px;
        line-height:56px;
    }    

    a.button {
        border-bottom: 4px solid #39ff14;
        border-left: 4px solid #39ff14;
        padding:2px 0 0 12px;
        width:138px;
        height:40px;
        margin-top:40px;
        margin-right:40px;
    }



    .iwansonOneImage.tile1 { width:520px; height:200px; }
    .iwansonOneImage.tile8 { width:520px; height:200px; }

    .iwansonOneImage.tile2 { width:360px; height:160px; }
    .iwansonOneImage.tile6 { width:360px; height:160px; }

    .iwansonOneImage.tile3 { width:200px; height:520px; }
    .iwansonOneImage.tile7 { width:200px; height:520px; }

    .iwansonOneImage.tile4 { width:160px; height:360px; }
    .iwansonOneImage.tile9 { width:160px; height:360px; }

    .iwansonOneImage.tile5 { width:120px; height:280px; }


    form fieldset:first-of-type {
        margin-right:5%;
    }

    #footerItself {
        padding-left:40px;
        width:960px;
    }

    div.iwansonImage.instructor {
        position: relative;
        height:440px;
    }
    div.iwansonImage.instructor.guest {
        position: relative;
        height:auto;
    }

    .instructorDescriptionContainer.guest {
        padding:220px 0 0 0 ;
         height:auto;
   }
    
    .instructorBodytext {
        float:left;
        padding-top:80px;
        width:120px;
        padding-right:40px;
    }

    .instructorBodytext.guest {
        float:right;
        text-align:right;
        padding-top:0;
        overflow:visible;
        height:120px;
        position:relative;
    }

    
}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# MOBILE (360)  ############################################################################################################ */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 440px) {



    /* komplexe (eine Reihe zu 2 Reihen bei mobil) */

    .innerFlexOnlyDesktop { display: block; }

    body, .event {
        font-size:14px;
        line-height:20px;
    }    

    a.button {
        border-bottom: 4px  solid #39ff14;
        border-left: 4px solid #39ff14;
        padding:10px 0 0 20px;
        width:80px;
        height:30px;
        margin-right:0;
    }


    h1 {
        font-size:40px;
        line-height:40px;
    }

    h2, h3 {
        font-size:18px;
        line-height:22px;
    }

    .contentRight .adminList, .contentLeft .adminList, .instructorList, .select-selected {
        font-size: 18px;
        line-height: 22px;

    }
    .adminDescriptionHolder, .instructorDescriptionHolder {
        font-size:14px;
        line-height:20px;
    }


    #wrap {
        height: auto;  
        max-width:439px;
        min-width:340px;
        z-index:2;
    }

    #innerWrap {
        margin-left: 40px;
        margin-right: 40px;
        padding-top:80px;
    }

    .spacerMobileChangedContent {
        padding-bottom:40px;
    }

    #footerIcon {
        left: 20px;
        bottom:27px;
        width: 40px;
    }

    
    #footerContent {
        padding:80px 40px 40px 40px;
    }

    #logo {
        width:240px;
    }   
/*    #logoBackground {
        border-top:3px solid #993388;
    }    */
    /* einfache Grid elements */


    #hamburger {
        /* will be adjusted by js */
        display:block;
        position:fixed;
        top:20px;
        right:20px;
        padding:20px;
        z-index:21;
    }
    #menuRotate { 
        transform: none;
        -webkit-transform:  none;
        -moz-transform:  none;
        -ms-transform:  none;
        -o-transform: r none;
        filter:  none;
        position:relative;
        left:-80px;
        width:auto;
        height:auto;
        clear:both;
        z-index:9999;
    }    

    td#menuOpenButton {
        display:none;
    }

    #menu {
        position:fixed;
        width:100%;
        height:0;
        overflow:hidden;
        left:0;
        top:0;
        border:none;    
        padding:0 0 0 0;
        z-index:1000;
    }
    #menuCloseButton {
        position:absolute;
        top:30px;
        right:30px;
    }
    #menuCloseButton img {
        width:20px;
    }
    #menuInnerWrapper {
        width: auto;
        top:0;
        float:left;
        right:0;
        height:auto;
        padding-left:40px;
    }

    #menuInner {
        padding:0;
        font-size:18px;
        line-height:40px;
        font-weight: bold;
        left:40px;
        z-index:9999;
        top:80px;
        overflow: scroll;
        height: calc( 100vh - 160px) !important;      
        width: calc( 100vw - 40px);
    }
    #menuInner ul li {
        padding-right:20px;
    }

    #menuInner ul #tempSubMenu {
        width:auto; 
        font-size:14px;
        line-height: 32px;
        background-image: url('../Media/menu_lining_mobile.svg');
        background-size: 95%;
    }

    #langMenu {
        position: fixed;
        bottom: 10px;
        right: 40px;
        display:none;
    }

    #contentNavigation {
        display:none;
    }

    .oneContainer {
        /*        flex-direction: column;*/
        display:block;
        clear:both;
        margin-bottom:0;
        /*         border:2px solid #982651;
               height:550px;
                overflow:hidden;
        */
    }


    .oneBetween { flex: 1 0; }

    /* einfache Grid elements */


    /*    .cols-17-I {  flex: 1 0; }*/

    .cols-8-8-I {  display:flex; }
    .cols-8-8-I-I {  flex: 7 0; padding-bottom:0px; }
    .cols-8-8-I-II {  flex: 0 0; }

    .cols-8-8-II { display:flex; padding-top:40px; } /*  ins main.js */
    .cols-8-8-II-I {  flex: 0 0; }
    .cols-8-8-II-II {  flex: 7 0; }

    .cols-3-6-6-I {  flex: 0 0; }
    .cols-3-6-6-II { flex: 4 0; }
    .cols-3-6-6-III { flex: 0 0; }
    .cols-3-6-6-IV {flex: 3 0; }
    .cols-3-6-6-V { flex: 0 0; }

    .cols-6-1-10-I  { display:flex; }
    .cols-6-1-10-I-I  {  flex: 7 0; }
    .cols-6-1-10-I-II  {  flex: 0 0; }

    .cols-6-1-10-II  { display:flex; }
    .cols-6-1-10-II-I  {  flex: 0 0; }
    .cols-6-1-10-II-II  {  flex: 7 0; }

    #footerContent .cols-6-1-10-II {
        padding-top:40px;
    }
    
    .cols-3-12-2-I {  flex: 0 0; }
    .cols-3-12-2-II {  flex: 7 0; }
    .cols-3-12-2-III {  flex: 0 0; }

    .cols-6-3-8-I {   }
    .cols-6-3-8-II {   }
    .cols-6-3-8-III { padding-top:40px;  } /*  ins main.js */

    /* ---- spaces ---- */
    .oneGridElement {   
        /*        float: left;
        margin-bottom: 40px;*/

    }

    div.iwansonImage.verybig {
        position: absolute;
        left:0;   
        top:0;
    }

    div.iwansonOneImage.verybig {
        position: absolute;
        left:-40px;   
        top:0;
        padding-bottom:20px;
    }

    div.imageVerybigBodytext {
        padding-bottom:20px;
    }

    .iwansonOneImage .tile1 { width:360px; height:180px; }		
    .iwansonOneImage .tile8 {  width:360px; height:180px; }		
    .iwansonOneImage .tile2 { width:280px; height:120px; }		
    .iwansonOneImage .tile6 { width:280px; height:120px; }		
    .iwansonOneImage .tile3 { width:180px; height:360px; z-index:5; }		
    .iwansonOneImage .tile7 { width:180px; height:360px;  z-index:5; }		
    .iwansonOneImage .tile4 { width:120px; height:280px;   }		
    .iwansonOneImage .tile9 { width:120px; height:280px; }      
    .iwansonOneImage .tile5 { width:120px; height:280px; }		

    .tilesBodytext h1 {
        display:inline-block;
    }

    body {
        font-size: 14px;
        line-height: 20px;
    }



    /*    margin-bottom:40px;*/
    /*        border:1px dotted #239843;*/

    .ce-bodytext {
        /*        background:#98b1ff; */
    }
    table {
        /*        background:#ffb1ab;      */
    }
    .innerFlexOnlyDesktop {
        /*        border:3px dotted #ff9900;*/
    }


    .firstBox {
        /*        height:200px;*/
    }

    .moreLink {
        text-decoration: underline;
        font-weight: bold;
    }



    .frame-space-before-extra-small {
        margin-top: 0;
    }
    .frame-space-before-small {
        margin-top: 0;
    }
    .frame-space-before-medium {
        margin-top: 0;
    }
    .frame-space-before-large {
        margin-top: 0;
    }
    .frame-space-before-extra-large {
        margin-top: 0;
    }

    .frame-space-after-extra-small {
        margin-bottom: 0;
    }
    .frame-space-after-small {
        margin-bottom: 0;
    }
    .frame-space-after-medium {
        margin-bottom: 0;
    }
    .frame-space-after-large {
        margin-bottom: 0;
    }
    .frame-space-after-extra-large {
        margin-bottom: 0;
    }


    /*  Startpage */

    #startpageSlider {
        width: 100%;
        overflow: hidden;
    }

    #tickerWrapper {
        padding-left:40px;
        padding-right:40px;
    }
    #ticker {
        font-size:40px;
        line-height:40px;
        width:calc(100% - 80px);
    }    


    .cols-3-6-6-I {  flex: 0 0; }
    .cols-3-6-6-II { flex: 4 0; }
    .cols-3-6-6-III { flex: 0 0; }
    .cols-3-6-6-IV {flex: 3 0; }
    .cols-3-6-6-V { flex: 0 0; }

    /* komplexe (eine Reihe zu 2 Reihen bei mobil) */

    /*    SLIDER      */
    #sliderOeWrapper {
        width:100%;
        height:100vh;
    }
    .swiper-button-prev, .swiper-button-next {
        display:none;
    }
    .swiper-slide { 
        background-size:100%;
        background: black;
        background-repeat: no-repeat;
    }


    .adminDescriptionHolder, .adminDescriptionContainer {
        padding:0;
    }

    .iwansonOneImage.admin {
        padding-left:4px;
    }
    .iwansonOneImage.admin:first-of-type {
        padding-left:0;
    }

    .adminnr1  { top:0; }
    .adminnr2  { top:30px; }
    .adminnr3  { top:0; }
    .adminnr4 { top:30px; }

    div.iwansonImage.instructor {
        position: relative;
        height: 0;
        float: right;
        padding-right:40px;
    }
    .contentRight .adminList, .contentLeft .adminList  {
        padding: 0 0 40px 0 ;
    }

    .mobileDistance, .oneContainer.instructors {
        padding-bottom: 40px;
    }

    div.adminBodytext, div.instructorBodytext, div.instructorBodytext.guest {
        padding-bottom:40px;
    }
    div.iwansonImage.instructor.guest {
        position: relative;
        height:200px;
    }    

    .instructorDescriptionContainer {
        padding:0;
    }

    .instructorDescriptionContainer.guest {
        padding: 0 0 40px 0 ;
        height:auto;
    }    

    .brochureDisquieter {
        height:250px;
        top:-265px;
    }    
    .brochureDisquieter td {
        padding-left: 10px;
    }    

    form fieldset:first-of-type {
        margin:0;
    }

    form input[type=text], form input[type=email], form input[type=tel] {
        width:calc(100% - 40px);
    }

    label.control-label.lightbox, button.btn {
        width:auto;
    }    

    #lightcase-overlay {
        background:#fff !important;
        opacity:0.7 !important;
        
    }
    a[class*="lightcase-icon-"], a[class*="lightcase-icon-"]:focus {
        color: #000 !important;
    }
    
    #lightcase-case {
        text-shadow: none !important;
    }
    #lightcase-info #lightcase-caption {
        color:#000 !important;
    }
    
}