{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace oe=Dasoe\Iwansonsstuff\ViewHelpers}


<f:for each="{files}" as="oneImage" iteration="fooIterator">

    <f:if condition ="{fooIterator.cycle} % 3">
        <f:then>        
            <table class="contentColumn iwansonImage verybig" style="padding:0; margin:0; border-collapse: collapse; width:580px;">
        </f:then>
        <f:else>        
            <table class="contentColumn last iwansonImage verybig" style="padding:0; margin:0; width:580px;">
        </f:else>    
    </f:if>


    <tr><td class="iwansonOneImage" style="padding:0; margin:0; border-collapse: collapse; width:580px;">

        <img class="iwansonImage verybig" data-portrait-default="{orient1}"" src="{f:uri.image(crop: oneImage.properties.crop, image: oneImage, width:'580', cropVariant:'default')}"title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />

</td> </tr>

</table>
</f:for>


