<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
	<div class="form-group {element.properties.elementClassAttribute}{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}">

            <f:if condition="{element.properties.options}">
                <f:then>
                    <div class="{element.properties.containerClassAttribute} custom-select">
                </f:then>
                <f:else>
                    <div class="{element.properties.containerClassAttribute}">
                </f:else>
            </f:if>
                
                    
                    <f:if condition="{element.properties.elementDescription}">
				<span class="help-block">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</span>
			</f:if>
			<f:format.raw>
				{elementContent}
				<f:if condition="{validationResults.flattenedErrors}">
					<span class="error help-block" role="alert">
						<f:for each="{validationResults.errors}" as="error">
							<f:format.htmlspecialchars>{formvh:translateElementError(element: element, error: error)}</f:format.htmlspecialchars>
							<br />
						</f:for>
					</span>
				</f:if>
			</f:format.raw>
		</div>
		<f:if condition="{doNotShowLabel} != 1">
			<label class="control-label {element.properties.elementClassAttribute}" for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'label')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></label>
		</f:if>
            <div class="clear"></div>
	</div>
</f:form.validationResults>
</html>
