
<div id="spinner">    
</div>
<div id="spinnerCurtain">    

</div>

<div id="oeVars" data-title="{data.title}" data-language="<f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:language" />" data-readon="<f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:readon" />">    
</div>


<div id="fixContainerRightColumn">    
</div>


<f:if condition="{backgroundIsPicture}">
    <f:then></f:then>
    <f:else>
<div id="logoBackground">    
</div>
        
    </f:else>
</f:if>

<f:format.raw>{startpageslider}</f:format.raw>

<div id="mouseReplacementWrapper">    
<div id="mouseReplacement">    
    <f:if condition="{isStartpage}">
        <div class="next">next</div>
        <div class="prev">prev</div>
    </f:if>
</div>
</div>
<div id="logo">
    <f:link.typolink parameter="t3://page?uid={startpageId}">
    <picture>
        <source media="(min-width: 1025px)" srcset="{f:uri.resource(path: 'Media/iwanson-logo-desktop.svg', extensionName: 'iwansonsstuff')}" >
        <source media="(min-width: 440px)" srcset="{f:uri.resource(path: 'Media/iwanson-logo-tablet.svg', extensionName: 'iwansonsstuff')}" >
        <source media="(max-width: 439px)" srcset="{f:uri.resource(path: 'Media/iwanson-logo-mobil.svg', extensionName: 'iwansonsstuff')}" >
        <img src="{f:uri.resource(path: 'Media/iwanson-logo-desktop.svg', extensionName: 'iwansonsstuff')}" width="100%" height="100%"/>            
    </picture>
    </f:link.typolink>
</div>

<div id="hamburger">
    <img src="{f:uri.resource(path: '{hamburgerImage}', extensionName: 'iwansonsstuff')}" width="20px" height="20px"/>
</div>


<div id="wrap">

    <div id="innerWrap">
        <f:format.raw>{content}</f:format.raw>

        <f:if condition="{regions}">
            <div id="contentNavigation">
                <div class="beforeFiller"></div>
                <div id="contentNavigationInner">
                    <f:format.raw>{regions}</f:format.raw>
                </div>
            </div>

            <div id="contentNavigationButton">
                <img src="{f:uri.resource(path: 'Media/mittelmenu.svg', extensionName: 'iwansonsstuff')}" width="100%" height="100%" />
            </div>

        </f:if>
    </div>
        <div id="menuRotate">        
            
            <table>
                <tr>
                    <td></td>
                    <td id="menuOpenButton">
                <f:translate key="LLL:EXT:iwansonsstuff/Resources/Private/Language/locallang.xlf:menu" />          
                        
            </td>
            </tr><tr>
                    <td id="langMenu">
                <f:format.raw>{langMenu}</f:format.raw>
                        
                </td><td></td>
                </tr>
                
            </table>


        </div>

                <div id="menuInner">
                <f:format.raw>{mainmenu}</f:format.raw>
                <f:format.raw>{allRegions}</f:format.raw>
                
            </div>


    <div id="menu">
            <div id="menuInnerWrapper">
            </div>
            <div id="menuCloseButton">
                <img src="{f:uri.resource(path: 'Media/close_x.svg', extensionName: 'iwansonsstuff')}" width="28px" height="28px"/> 
            </div>
        


    </div>

</div>


<div id="footerIcon">
    <img src="{f:uri.resource(path: 'Media/clickable_footer_closed.svg', extensionName: 'iwansonsstuff')}" width="100%" height="100%"/>
</div>

<div id="footerItself">
            <div id="footerMenuCloseButton">
                <img src="{f:uri.resource(path: 'Media/close_x.svg', extensionName: 'iwansonsstuff')}" width="20px" height="20px"/> 
            </div>
     <f:format.raw>{footer}</f:format.raw>
</div>