
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Newsletter</title>

	<f:render partial="Mail/ZurbCss"/>

	<style>
		body,
		html,
		.body {
			background: #ffffff !important;
		}

		.container.header {
			background: #fff;
		}

		.body-drip {
			/* border-top: 8px solid #a5c85a; */
		}
	</style>
</head>

<body>
<!-- <style> -->
<table class="body" data-made-with-foundation="">
	<tr>
		<td class="float-center" align="center" valign="top" width="580" style="width:580px;">
			<center data-parsed="">
				<table class="spacer float-center">
					<tbody>
					<tr>
						<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
					</tr>
					</tbody>
				</table>
				<table align="center" class="container header float-center" style="width:580px;">
					<tbody>
					<tr>
						<td>
							<table class="row collapse">
								<tbody>
								<tr>
									<th class="small-12 large-12 columns first last">
										<table>
											<tr>
												<th > <img src="https://iwanson.de/fileadmin/newsletter/logo_IWANSON_nl.png" alt="IWANSON logo" width="580" height="100" style="width:580px;height:100px;"> </th>
												<th class="expander"></th>
											</tr>
										</table>
									</th>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
				<table align="center" class="container body-drip float-center" style="width:580px;">
					<tbody>
					<tr>
						<td>

							<table class="row">
								<tbody>
								<tr>
									<th class="small-12 large-12 columns first last">
										<table>
											<tr>
												<th>
													<f:format.raw>{content}</f:format.raw>
												</th>
												<th class="expander"></th>
											</tr>
										</table>
									</th>
								</tr>
								</tbody>
							</table>

							<table class="row collapsed footer">
								<tbody>
								<tr>
									<th class="small-12 large-12 columns first last">
										<table>
											<tr>
												<th>
													<table class="spacer">
														<tbody>
														<tr>
															<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
														</tr>
														</tbody>
													</table>

													<p >
                                                                                        <f:comment>&copy; Copyright <f:format.date format="Y">now</f:format.date><br></f:comment>
														<a href="mailto:schule@iwanson.de">Contact IWANSON</a> 
														<f:link.external uri="{luxletter:mail.getUnsubscribeUrl(newsletter:newsletter,user:user)}" additionalAttributes="{data-luxletter-parselink:'false'}">Unsubscribe now</f:link.external>
													</p>

													<center data-parsed="">

													</center>
												</th>
												<th class="expander"></th>
											</tr>
										</table>
									</th>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</center>
        <br/><br/>
		</td>
	</tr>
</table>

<f:render partial="Mail/TrackingPixel" arguments="{_all}"/>

</body>

</html>
