<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Newsletter</title>

<f:render partial="Mail/ZurbCss"/>

<style>
    body,
    html,
    .body {
        background: #ffffff !important;
    }

    .container.header {
        background: #fff;
    }

    .body-drip {
        /* border-top: 8px solid #a5c85a; */
    }
</style>
</head>
<body>
    <!-- <style> -->
    <table class="body" data-made-with-foundation="" style="width:100%; font-family: Courier, Courier New;">
        <tr>
            <td class="float-center" align="center" valign="top">
                <center data-parsed="">
                    <table class="spacer float-center">
                        <tbody>
                            <tr>
                                <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" class="container header float-center" style="width:580px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row collapse">
                                        <tbody>
                                            <tr>
                                                <th class="small-12 large-12 columns first last">
                                                    <table>
                                                        <tr>
                                                            <th > <img src="https://iwanson.de/fileadmin/newsletter/logo_IWANSON_nl.png" alt="IWANSON logo" width="580" height="100" style="width:580px;height:100px;"> </th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>



