

                    <table class="row collapsed footer">
                        <tbody>
                            <tr>
                                <th class="small-12 large-12 columns first last">
                                    <table>
                                        <tr>
                                            <th>
                                                <table class="spacer">
                                                    <tbody>
                                                        <tr>
                                                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <p >
                                        <f:comment>&copy; Copyright <f:format.date format="Y">now</f:format.date><br></f:comment>
                                        <table style="width:580px;"><tr>
                                                <td>
                                                    <a style="margin-left: 15%;padding: 5px 20px 5px 15px;color: #000;text-decoration: none;border-bottom: 4px solid #39ff14;border-left: 4px solid #39ff14;" href="mailto:schule@iwanson.de" >Contact IWANSON</a> 
                                                </td>
                                                <td>
						<f:link.external uri="{luxletter:mail.getUnsubscribeUrl(newsletter:newsletter,user:user)}" additionalAttributes="{data-luxletter-parselink:'false'}">Unsubscribe now</f:link.external>
                                            </td>
                                            </tr>
                                        </table>
                                        </p>

                                        <center data-parsed="">

                                        </center>
                                </th>
                                <th class="expander"></th>
                            </tr>
                    </table>
                    </th>
                    </tr>
                    </tbody>
            </table>
        </td>
</tr>
</tbody>
</table>
</center>
<br/><br/>
</td>
</tr>
</table>

<f:render partial="Mail/TrackingPixel" arguments="{_all}"/>

</body>

</html>
