/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2020, 9:07:51 PM
    Author     : oe
*/


.t3-page-ce .t3-page-ce-header {
    background:#6688aa !important;
}

.t3-page-ce:hover .t3-page-ce-header:hover {
/*    background:#66aa99 !important;*/
    background:#39ff14 !important;
    
}

div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+1) {
        box-shadow: -3px -3px 0 #39ff14;
}

div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+1) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+2) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+6) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+8) div.panel-heading
{
    background-image: url('../../Media/Backend/hochformat.png');
    background-repeat: no-repeat;
    background-position: right 170px center;
}

div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+3) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+4) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+5) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+7) div.panel-heading,
div#data-7-tt_content-301-assets_records div.panel:nth-child(9n+9) div.panel-heading
{
    background-image: url('../../Media/Backend/querformat.png');
    background-repeat: no-repeat;
    background-position: right 160px center;
}

.topbar-header-site {
    background-image:url('../../Media/iwanson-logo-be_grey1.svg');
    background-repeat: no-repeat;
    background-position: 50px 12px;
}
.topbar-header-site:hover {
    background-image:url('../../Media/iwanson-logo-mobil.svg');
}

.topbar-header-site a {
    display:none;
}

.t3-page-ce .t3-page-ce-header {
    background:#6688aa;
}



.t3-page-ce-body-inner {
    border: 2px solid #6688aa;
}

.gridelements-collapsed-column-marker {
    background:#6688aa;
    color:white;
    font-weight:bold;
    padding:3px 5px 3px 10px
}